In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('Data/Hotel Reservations.csv', sep=',')
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [2]:
for c in df.columns:
    print(f"{c:40s} - {df[c].nunique():>5d}")

Booking_ID                               - 36275
no_of_adults                             -     5
no_of_children                           -     6
no_of_weekend_nights                     -     8
no_of_week_nights                        -    18
type_of_meal_plan                        -     4
required_car_parking_space               -     2
room_type_reserved                       -     7
lead_time                                -   352
arrival_year                             -     2
arrival_month                            -    12
arrival_date                             -    31
market_segment_type                      -     5
repeated_guest                           -     2
no_of_previous_cancellations             -     9
no_of_previous_bookings_not_canceled     -    59
avg_price_per_room                       -  3930
no_of_special_requests                   -     6
booking_status                           -     2

In [3]:
print(df['arrival_year'].unique())
print(df['arrival_month'].unique())
print(df['arrival_date'].unique())

[2017 2018]
[10 11  2  5  4  9 12  7  6  8  3  1]
[ 2  6 28 20 11 13 15 26 18 30  5 10  4 25 22 21 19 17  7  9 27  1 29 16
  3 24 14 31 23  8 12]

In [11]:
df = df.rename(columns={'arrival_date': 'day', 'arrival_month': 'month', 'arrival_year': 'year'})
df['date_str']=df[['year', 'month', 'day']].astype(str).agg('-'.join, axis=1)
df.head()
df['date'] = pd.to_datetime(df['date_str'], format='%Y-%m-%d')

ValueError: day is out of range for month, at position 492. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
catCols = ['type_of_meal_plan', 'required_car_parking_space', 'room_type_reserved', 'market_segment_type', 'repeated_guest']
dateCols = ['arrival_year', 'arrival_month', 'arrival_date']

In [ ]:
df['date']=pd.to_datetime(df[['arrival_year', 'arrival_month', 'arrival_date']].astype(str).agg('-'.join, axis=1))
# df.drop(dateCols, axis=1, inplace=True)
# df.head()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [ ]:
%pip install boruta

In [ ]:
from boruta import BorutaPy

In [ ]:
labels = dummy_df.columns[2:len(dummy_df.columns)]

X = dummy_df[labels]
y = dummy_df.booking_status_Canceled

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 999)

In [ ]:
y = y_train.ravel()

In [ ]:
rf = RandomForestClassifier(max_depth = 5, bootstrap = True)

In [ ]:
feat_selector = BorutaPy(rf, n_estimators = "auto", random_state = 999)

In [ ]:
%pip install --upgrade numpy

In [ ]:
n_feat = 10
dec_reg = np.zeros(n_feat, dtype=int)

In [ ]:
result_boruta = feat_selector.fit(X_train.values, y_train)

In [ ]:
accept = X_train.columns[feat_selector.support_].to_list()
irresolution = X_train.columns[feat_selector.support_weak_].to_list()

print("Selecionadas:")
print("************************")
print(list(accept))
print(list(irresolution))
print("************************")