In [4]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("../Data/nba_salary.sqlite")
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""

cursor = con.cursor()
cursor.execute(sql_query)
for tb in cursor.fetchall():
    print(tb[0])

NBA_season1718_salary
Seasons_Stats

In [5]:
dfSalary = pd.read_sql_query("SELECT * FROM NBA_season1718_salary", con)
dfStats = pd.read_sql_query("SELECT * FROM Seasons_Stats", con)
con.close()

In [7]:
dfSalary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X1           573 non-null    float64
 1   Player       573 non-null    object
 2   Tm           573 non-null    object
 3   season17_18  573 non-null    float64
dtypes: float64(2), object(2)
memory usage: 18.0+ KB

In [8]:
dfStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24691 entries, 0 to 24690
Data columns (total 53 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      24691 non-null  float64
 1   Year    24624 non-null  float64
 2   Player  24624 non-null  object
 3   Pos     24624 non-null  object
 4   Age     24616 non-null  float64
 5   Tm      24624 non-null  object
 6   G       24624 non-null  float64
 7   GS      6247 non-null   float64
 8   MP      24138 non-null  float64
 9   PER     24101 non-null  float64
 10  TS%     24538 non-null  float64
 11  3PAr    3452 non-null   float64
 12  FTr     24525 non-null  float64
 13  ORB%    977 non-null    float64
 14  DRB%    371 non-null    float64
 15  TRB%    255 non-null    float64
 16  AST%    765 non-null    float64
 17  STL%    2019 non-null   float64
 18  BLK%    3039 non-null   float64
 19  TOV%    450 non-null    float64
 20  USG%    58 non-null     float64
 21  blanl   0 non-null      object
 22  OWS     24585 non-null  float64
 23  DWS     24585 non-null  float64
 24  WS      24585 non-null  float64
 25  WS/48   24101 non-null  float64
 26  blank2  0 non-null      object
 27  OBPM    500 non-null    float64
 28  DBPM    716 non-null    float64
 29  BPM     412 non-null    float64
 30  VORP    3087 non-null   float64
 31  FG      24624 non-null  float64
 32  FGA     24624 non-null  float64
 33  FG%     24525 non-null  float64
 34  3P      8670 non-null   float64
 35  3PA     5175 non-null   float64
 36  3P%     3798 non-null   float64
 37  2P      24624 non-null  float64
 38  2PA     24624 non-null  float64
 39  2P%     24496 non-null  float64
 40  eFG%    24525 non-null  float64
 41  FT      24624 non-null  float64
 42  FTA     24624 non-null  float64
 43  FT%     23766 non-null  float64
 44  ORB     1533 non-null   float64
 45  DRB     735 non-null    float64
 46  TRB     24312 non-null  float64
 47  AST     24624 non-null  float64
 48  STL     1897 non-null   float64
 49  BLK     3691 non-null   float64
 50  TOV     930 non-null    float64
 51  PF      24624 non-null  float64
 52  PTS     24624 non-null  float64
dtypes: float64(48), object(5)
memory usage: 10.0+ MB