> # Instruções: 
> 1) Com [este](https://drive.google.com/file/d/1egeGRqTj_5-q8STWNO3MnWJKSafqmAZT/view?usp=sharing) arquivo, construir um objeto de Serie cronológica com o índice igual ao ano dos jogos olímpicos 
> 2) Separar os nomes próprios de sobrenomes em duas colunas distintas usando vírgula como separador.
> 3) Obter medidas resumidas do conjunto de dados. Qual país ganhou mais medalhas?
> 4) Construir uma tabela mostrando quantas medalhas foram ganhas pelos homens no total em cada ano em que o evento foi realizado.

In [1]:
import pandas as pd

In [58]:
df = pd.read_csv("../Data/Summer-Olympic-medals-1976-to-2008.csv", encoding='latin-1')
df = df.dropna()
df.reset_index(inplace=True, drop=True)
df['Year'] = df['Year'].astype(int)
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [59]:
# Separando o nome do sobrenome
df[['last_name','first_name']] = df['Athlete'].str.split(',', n=1, expand = True)
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,last_name,first_name
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15311,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
15312,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
15313,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
15314,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
15315,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [60]:
# Calculando a quantidade de medalhas por país, no total
df_country  = df.groupby('Country')['Medal'].count().sort_values(ascending=False)
print(df_country[:1])

Country
United States    1992
Name: Medal, dtype: int64

In [61]:
# Calculando a contagem de medalhas para cada país em cada ano
contagem_medalhas = df.groupby(['Year', 'Country'])['Medal'].count().unstack(fill_value=0)
pais_com_mais_medalhas = contagem_medalhas.idxmax(axis=1)
resultado_df = pd.DataFrame({'Year': pais_com_mais_medalhas.index, 'Country': pais_com_mais_medalhas.values, 'Medal_Count': contagem_medalhas.max(axis=1).values})
print(resultado_df)

   Year        Country  Medal_Count
0  1976   Soviet Union          285
1  1980   Soviet Union          442
2  1984  United States          333
3  1988   Soviet Union          294
4  1992  United States          224
5  1996  United States          260
6  2000  United States          248
7  2004  United States          264
8  2008  United States          315

In [62]:
# Criando a tabela de medalhas por ano, considerando apenas homens
df_man = df[df['Gender'] == 'Men']
df_man.reset_index(drop=True, inplace=True)
medalhas_homens  = df_man.groupby('Year')['Medal'].count()
print(medalhas_homens)

Year
1976     924
1980     958
1984     973
1988    1011
1992    1105
1996    1082
2000    1126
2004    1099
2008    1110
Name: Medal, dtype: int64