In [1]:
import pandas as pd

In [7]:
# Ler os dados
w_data = pd.read_csv("../Data/w_data.csv", sep=';')
p_data = pd.read_csv("../Data/p_data.csv", sep=';')

In [5]:
w_data.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [8]:
p_data.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [26]:
# Fundir os dados a partir da variável ID
merged_data = pd.merge(w_data, p_data, on='ID', how='outer')
merged_data

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K,39.0,Male,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K,50.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K,38.0,Male,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K,53.0,Male,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K,28.0,Female,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48838,Private,215419.0,0.0,0.0,36.0,735617153,<=50K.,39.0,Female,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,?,321403.0,0.0,0.0,40.0,1131807446,<=50K.,64.0,Male,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,Private,374983.0,0.0,0.0,50.0,781422087,<=50K.,38.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,Private,83891.0,5455.0,0.0,40.0,161771296,<=50K.,44.0,Male,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Quantos ID têm em comum?
total_ids_w = w_data['ID'].unique()
total_ids_p = p_data['ID'].unique()
ids_not_common = []
ids_common = []
for id_p in total_ids_p:
    if id_p not in total_ids_w:
        ids_not_common.append(id_p)
    else:
        ids_common.append(id_p)
        
for id_w in total_ids_w:
    if id_w not in total_ids_p:
        ids_not_common.append(id_w)
    else:
        ids_common.append(id_w)
        
ids_common = set(ids_common)

print("Numero de IDs comuns:", len(ids_common))
print("IDs que não têm em comum:", ids_not_common)

Numero de IDs comuns: 48842
IDs que não têm em comum: [1344995623]

In [32]:
# Corrigir os Target a apenas dois valores distintos ‘<=50k’ e ‘>50k’
print(f"Antes: {merged_data['Target'].unique()}")
merged_data['Target'] = merged_data['Target'].str.replace(" ", "")
merged_data['Target'] = merged_data['Target'].str.replace(".", "")
merged_data['Target'] = merged_data['Target'].str.replace("K", "k")
print(f"Depois: {merged_data['Target'].unique()}")

Antes: ['<=50K' '>50K' nan]
Depois: ['<=50k' '>50k' nan]

In [43]:
# Calcular a proporção entre pessoas com salários >50k em relação ao total com pessoas que difiram em sexo, raça e nível educacional
grouped_data = merged_data.groupby(['Sex', 'Race', 'Education'])
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")

   Pct   |  Total  |  Grupo
  0.00%  |     10  |  (' Female', ' Amer-Indian-Eskimo', ' 10th')
  0.00%  |      7  |  (' Female', ' Amer-Indian-Eskimo', ' 11th')
  0.00%  |      2  |  (' Female', ' Amer-Indian-Eskimo', ' 1st-4th')
  0.00%  |      3  |  (' Female', ' Amer-Indian-Eskimo', ' 7th-8th')
  0.00%  |      3  |  (' Female', ' Amer-Indian-Eskimo', ' 9th')
 12.50%  |      8  |  (' Female', ' Amer-Indian-Eskimo', ' Assoc-acdm')
 11.11%  |     18  |  (' Female', ' Amer-Indian-Eskimo', ' Assoc-voc')
 25.00%  |     12  |  (' Female', ' Amer-Indian-Eskimo', ' Bachelors')
 50.00%  |      2  |  (' Female', ' Amer-Indian-Eskimo', ' Doctorate')
  3.39%  |     59  |  (' Female', ' Amer-Indian-Eskimo', ' HS-grad')
 33.33%  |      6  |  (' Female', ' Amer-Indian-Eskimo', ' Masters')
100.00%  |      1  |  (' Female', ' Amer-Indian-Eskimo', ' Prof-school')
  5.56%  |     54  |  (' Female', ' Amer-Indian-Eskimo', ' Some-college')
 14.29%  |      7  |  (' Female', ' Asian-Pac-Islander', ' 10th')
  0.00%  |     12  |  (' Female', ' Asian-Pac-Islander', ' 11th')
  0.00%  |      6  |  (' Female', ' Asian-Pac-Islander', ' 12th')
  0.00%  |      4  |  (' Female', ' Asian-Pac-Islander', ' 1st-4th')
 20.00%  |     15  |  (' Female', ' Asian-Pac-Islander', ' 5th-6th')
  0.00%  |      5  |  (' Female', ' Asian-Pac-Islander', ' 7th-8th')
 16.67%  |      6  |  (' Female', ' Asian-Pac-Islander', ' 9th')
 23.81%  |     21  |  (' Female', ' Asian-Pac-Islander', ' Assoc-acdm')
 13.33%  |     15  |  (' Female', ' Asian-Pac-Islander', ' Assoc-voc')
 20.69%  |    145  |  (' Female', ' Asian-Pac-Islander', ' Bachelors')
  6.56%  |    122  |  (' Female', ' Asian-Pac-Islander', ' HS-grad')
 24.24%  |     33  |  (' Female', ' Asian-Pac-Islander', ' Masters')
  0.00%  |      3  |  (' Female', ' Asian-Pac-Islander', ' Preschool')
 27.27%  |     11  |  (' Female', ' Asian-Pac-Islander', ' Prof-school')
  7.14%  |    112  |  (' Female', ' Asian-Pac-Islander', ' Some-college')
  0.00%  |     87  |  (' Female', ' Black', ' 10th')
  2.36%  |    127  |  (' Female', ' Black', ' 11th')
  4.88%  |     41  |  (' Female', ' Black', ' 12th')
  0.00%  |     10  |  (' Female', ' Black', ' 1st-4th')
  0.00%  |     12  |  (' Female', ' Black', ' 5th-6th')
  0.00%  |     39  |  (' Female', ' Black', ' 7th-8th')
  0.00%  |     42  |  (' Female', ' Black', ' 9th')
  6.32%  |     95  |  (' Female', ' Black', ' Assoc-acdm')
  6.32%  |     95  |  (' Female', ' Black', ' Assoc-voc')
 16.13%  |    248  |  (' Female', ' Black', ' Bachelors')
 42.86%  |      7  |  (' Female', ' Black', ' Doctorate')
  2.45%  |    858  |  (' Female', ' Black', ' HS-grad')
 38.46%  |     65  |  (' Female', ' Black', ' Masters')
  0.00%  |      4  |  (' Female', ' Black', ' Preschool')
 25.00%  |      8  |  (' Female', ' Black', ' Prof-school')
  4.21%  |    570  |  (' Female', ' Black', ' Some-college')
  0.00%  |      6  |  (' Female', ' Other', ' 10th')
  0.00%  |     10  |  (' Female', ' Other', ' 11th')
  0.00%  |      5  |  (' Female', ' Other', ' 12th')
  0.00%  |      3  |  (' Female', ' Other', ' 1st-4th')
  0.00%  |      6  |  (' Female', ' Other', ' 5th-6th')
  0.00%  |     10  |  (' Female', ' Other', ' 7th-8th')
  0.00%  |      6  |  (' Female', ' Other', ' 9th')
 50.00%  |      4  |  (' Female', ' Other', ' Assoc-acdm')
  0.00%  |      3  |  (' Female', ' Other', ' Assoc-voc')
 23.81%  |     21  |  (' Female', ' Other', ' Bachelors')
  0.00%  |     32  |  (' Female', ' Other', ' HS-grad')
 16.67%  |      6  |  (' Female', ' Other', ' Masters')
100.00%  |      1  |  (' Female', ' Other', ' Prof-school')
  4.76%  |     42  |  (' Female', ' Other', ' Some-college')
  0.86%  |    347  |  (' Female', ' White', ' 10th')
  1.62%  |    494  |  (' Female', ' White', ' 11th')
  1.26%  |    159  |  (' Female', ' White', ' 12th')
  0.00%  |     42  |  (' Female', ' White', ' 1st-4th')
  1.06%  |     94  |  (' Female', ' White', ' 5th-6th')
  0.55%  |    182  |  (' Female', ' White', ' 7th-8th')
  2.45%  |    163  |  (' Female', ' White', ' 9th')
 14.43%  |    499  |  (' Female', ' White', ' Assoc-acdm')
 13.76%  |    603  |  (' Female', ' White', ' Assoc-voc')
 21.60%  |   2051  |  (' Female', ' White', ' Bachelors')
 57.69%  |    104  |  (' Female', ' White', ' Doctorate')
  7.43%  |   4026  |  (' Female', ' White', ' HS-grad')
 34.56%  |    735  |  (' Female', ' White', ' Masters')
  0.00%  |     17  |  (' Female', ' White', ' Preschool')
 50.45%  |    111  |  (' Female', ' White', ' Prof-school')
  7.53%  |   3400  |  (' Female', ' White', ' Some-college')
  0.00%  |     12  |  (' Male', ' Amer-Indian-Eskimo', ' 10th')
 10.53%  |     19  |  (' Male', ' Amer-Indian-Eskimo', ' 11th')
  0.00%  |      5  |  (' Male', ' Amer-Indian-Eskimo', ' 12th')
  0.00%  |      2  |  (' Male', ' Amer-Indian-Eskimo', ' 1st-4th')
  0.00%  |      2  |  (' Male', ' Amer-Indian-Eskimo', ' 5th-6th')
  0.00%  |      7  |  (' Male', ' Amer-Indian-Eskimo', ' 7th-8th')
  0.00%  |      6  |  (' Male', ' Amer-Indian-Eskimo', ' 9th')
  0.00%  |      5  |  (' Male', ' Amer-Indian-Eskimo', ' Assoc-acdm')
  7.69%  |     13  |  (' Male', ' Amer-Indian-Eskimo', ' Assoc-voc')
 41.18%  |     17  |  (' Male', ' Amer-Indian-Eskimo', ' Bachelors')
100.00%  |      1  |  (' Male', ' Amer-Indian-Eskimo', ' Doctorate')
  9.40%  |    117  |  (' Male', ' Amer-Indian-Eskimo', ' HS-grad')
 28.57%  |      7  |  (' Male', ' Amer-Indian-Eskimo', ' Masters')
  0.00%  |      1  |  (' Male', ' Amer-Indian-Eskimo', ' Preschool')
100.00%  |      1  |  (' Male', ' Amer-Indian-Eskimo', ' Prof-school')
 21.43%  |     70  |  (' Male', ' Amer-Indian-Eskimo', ' Some-college')
  0.00%  |      9  |  (' Male', ' Asian-Pac-Islander', ' 10th')
 13.33%  |     15  |  (' Male', ' Asian-Pac-Islander', ' 11th')
 11.11%  |      9  |  (' Male', ' Asian-Pac-Islander', ' 12th')
  0.00%  |      6  |  (' Male', ' Asian-Pac-Islander', ' 1st-4th')
 15.38%  |     13  |  (' Male', ' Asian-Pac-Islander', ' 5th-6th')
  0.00%  |      9  |  (' Male', ' Asian-Pac-Islander', ' 7th-8th')
  0.00%  |      4  |  (' Male', ' Asian-Pac-Islander', ' 9th')
 28.57%  |     28  |  (' Male', ' Asian-Pac-Islander', ' Assoc-acdm')
 31.58%  |     38  |  (' Male', ' Asian-Pac-Islander', ' Assoc-voc')
 42.21%  |    263  |  (' Male', ' Asian-Pac-Islander', ' Bachelors')
 67.39%  |     46  |  (' Male', ' Asian-Pac-Islander', ' Doctorate')
 19.16%  |    214  |  (' Male', ' Asian-Pac-Islander', ' HS-grad')
 53.27%  |    107  |  (' Male', ' Asian-Pac-Islander', ' Masters')
  0.00%  |      4  |  (' Male', ' Asian-Pac-Islander', ' Preschool')
 70.21%  |     47  |  (' Male', ' Asian-Pac-Islander', ' Prof-school')
 22.11%  |    190  |  (' Male', ' Asian-Pac-Islander', ' Some-college')
  6.32%  |     95  |  (' Male', ' Black', ' 10th')
  4.80%  |    125  |  (' Male', ' Black', ' 11th')
  9.38%  |     64  |  (' Male', ' Black', ' 12th')
  7.14%  |     14  |  (' Male', ' Black', ' 1st-4th')
  0.00%  |     29  |  (' Male', ' Black', ' 5th-6th')
  5.88%  |     51  |  (' Male', ' Black', ' 7th-8th')
  5.80%  |     69  |  (' Male', ' Black', ' 9th')
 24.24%  |     66  |  (' Male', ' Black', ' Assoc-acdm')
 21.43%  |     70  |  (' Male', ' Black', ' Assoc-voc')
 40.62%  |    256  |  (' Male', ' Black', ' Bachelors')
 77.78%  |      9  |  (' Male', ' Black', ' Doctorate')
 12.47%  |    922  |  (' Male', ' Black', ' HS-grad')
 51.28%  |     78  |  (' Male', ' Black', ' Masters')
 12.50%  |      8  |  (' Male', ' Black', ' Preschool')
 61.54%  |     13  |  (' Male', ' Black', ' Prof-school')
 20.08%  |    508  |  (' Male', ' Black', ' Some-college')
 20.00%  |      5  |  (' Male', ' Other', ' 10th')
  0.00%  |     12  |  (' Male', ' Other', ' 11th')
  0.00%  |     12  |  (' Male', ' Other', ' 12th')
  0.00%  |     10  |  (' Male', ' Other', ' 1st-4th')
 17.65%  |     17  |  (' Male', ' Other', ' 5th-6th')
  0.00%  |     13  |  (' Male', ' Other', ' 7th-8th')
  0.00%  |      9  |  (' Male', ' Other', ' 9th')
 33.33%  |      6  |  (' Male', ' Other', ' Assoc-acdm')
  0.00%  |      6  |  (' Male', ' Other', ' Assoc-voc')
 27.59%  |     29  |  (' Male', ' Other', ' Bachelors')
 66.67%  |      3  |  (' Male', ' Other', ' Doctorate')
  5.48%  |     73  |  (' Male', ' Other', ' HS-grad')
 57.14%  |      7  |  (' Male', ' Other', ' Masters')
  0.00%  |      2  |  (' Male', ' Other', ' Preschool')
100.00%  |      4  |  (' Male', ' Other', ' Prof-school')
 25.58%  |     43  |  (' Male', ' Other', ' Some-college')
  9.37%  |    811  |  (' Male', ' White', ' 10th')
  7.16%  |    991  |  (' Male', ' White', ' 11th')
 10.39%  |    356  |  (' Male', ' White', ' 12th')
  4.55%  |    154  |  (' Male', ' White', ' 1st-4th')
  5.61%  |    321  |  (' Male', ' White', ' 5th-6th')
  9.12%  |    636  |  (' Male', ' White', ' 7th-8th')
  7.14%  |    448  |  (' Male', ' White', ' 9th')
 34.64%  |    869  |  (' Male', ' White', ' Assoc-acdm')
 33.42%  |   1200  |  (' Male', ' White', ' Assoc-voc')
 51.41%  |   4982  |  (' Male', ' White', ' Bachelors')
 77.25%  |    422  |  (' Male', ' White', ' Doctorate')
 21.39%  |   9361  |  (' Male', ' White', ' HS-grad')
 66.09%  |   1613  |  (' Male', ' White', ' Masters')
  0.00%  |     44  |  (' Male', ' White', ' Preschool')
 79.75%  |    637  |  (' Male', ' White', ' Prof-school')
 27.17%  |   5889  |  (' Male', ' White', ' Some-college')

In [48]:
# Calcular a proporção entre pessoas com salários >50k em relação ao total com pessoas que difiram em sexo, raça e nível educacional
grouped_data = merged_data.groupby(['Sex', 'Race'])
print('-'*50)
print(f'{"Sex / Race":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")
        
grouped_data = merged_data.groupby(['Sex', 'Education'])
print('-'*50)
print(f'{"Sex / Education":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")
        
grouped_data = merged_data.groupby(['Race', 'Education'])
print('-'*50)
print(f'{"Race / Education":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")

--------------------------------------------------
                    Sex / Race
   Pct   |  Total  |  Grupo
  8.11%  |    185  |  (' Female', ' Amer-Indian-Eskimo')
 13.35%  |    517  |  (' Female', ' Asian-Pac-Islander')
  5.72%  |   2308  |  (' Female', ' Black')
  7.10%  |    155  |  (' Female', ' Other')
 11.84%  |  13027  |  (' Female', ' White')
 14.04%  |    285  |  (' Male', ' Amer-Indian-Eskimo')
 33.93%  |   1002  |  (' Male', ' Asian-Pac-Islander')
 18.26%  |   2377  |  (' Male', ' Black')
 15.54%  |    251  |  (' Male', ' Other')
 31.54%  |  28734  |  (' Male', ' White')
--------------------------------------------------
                 Sex / Education
   Pct   |  Total  |  Grupo
  0.88%  |    457  |  (' Female', ' 10th')
  1.69%  |    650  |  (' Female', ' 11th')
  1.90%  |    211  |  (' Female', ' 12th')
  0.00%  |     61  |  (' Female', ' 1st-4th')
  3.15%  |    127  |  (' Female', ' 5th-6th')
  0.42%  |    239  |  (' Female', ' 7th-8th')
  2.27%  |    220  |  (' Female', ' 9th')
 13.72%  |    627  |  (' Female', ' Assoc-acdm')
 12.67%  |    734  |  (' Female', ' Assoc-voc')
 21.03%  |   2477  |  (' Female', ' Bachelors')
 56.64%  |    113  |  (' Female', ' Doctorate')
  6.47%  |   5097  |  (' Female', ' HS-grad')
 34.32%  |    845  |  (' Female', ' Masters')
  0.00%  |     24  |  (' Female', ' Preschool')
 47.73%  |    132  |  (' Female', ' Prof-school')
  7.01%  |   4178  |  (' Female', ' Some-college')
  8.91%  |    932  |  (' Male', ' 10th')
  6.97%  |   1162  |  (' Male', ' 11th')
  9.87%  |    446  |  (' Male', ' 12th')
  4.30%  |    186  |  (' Male', ' 1st-4th')
  6.02%  |    382  |  (' Male', ' 5th-6th')
  8.52%  |    716  |  (' Male', ' 7th-8th')
  6.72%  |    536  |  (' Male', ' 9th')
 33.57%  |    974  |  (' Male', ' Assoc-acdm')
 32.33%  |   1327  |  (' Male', ' Assoc-voc')
 50.32%  |   5547  |  (' Male', ' Bachelors')
 76.30%  |    481  |  (' Male', ' Doctorate')
 20.33%  |  10687  |  (' Male', ' HS-grad')
 64.51%  |   1812  |  (' Male', ' Masters')
  1.69%  |     59  |  (' Male', ' Preschool')
 78.92%  |    702  |  (' Male', ' Prof-school')
 26.42%  |   6700  |  (' Male', ' Some-college')
--------------------------------------------------
                 Race / Education
   Pct   |  Total  |  Grupo
  0.00%  |     22  |  (' Amer-Indian-Eskimo', ' 10th')
  7.69%  |     26  |  (' Amer-Indian-Eskimo', ' 11th')
  0.00%  |      5  |  (' Amer-Indian-Eskimo', ' 12th')
  0.00%  |      4  |  (' Amer-Indian-Eskimo', ' 1st-4th')
  0.00%  |      2  |  (' Amer-Indian-Eskimo', ' 5th-6th')
  0.00%  |     10  |  (' Amer-Indian-Eskimo', ' 7th-8th')
  0.00%  |      9  |  (' Amer-Indian-Eskimo', ' 9th')
  7.69%  |     13  |  (' Amer-Indian-Eskimo', ' Assoc-acdm')
  9.68%  |     31  |  (' Amer-Indian-Eskimo', ' Assoc-voc')
 34.48%  |     29  |  (' Amer-Indian-Eskimo', ' Bachelors')
 66.67%  |      3  |  (' Amer-Indian-Eskimo', ' Doctorate')
  7.39%  |    176  |  (' Amer-Indian-Eskimo', ' HS-grad')
 30.77%  |     13  |  (' Amer-Indian-Eskimo', ' Masters')
  0.00%  |      1  |  (' Amer-Indian-Eskimo', ' Preschool')
100.00%  |      2  |  (' Amer-Indian-Eskimo', ' Prof-school')
 14.52%  |    124  |  (' Amer-Indian-Eskimo', ' Some-college')
  6.25%  |     16  |  (' Asian-Pac-Islander', ' 10th')
  7.41%  |     27  |  (' Asian-Pac-Islander', ' 11th')
  6.67%  |     15  |  (' Asian-Pac-Islander', ' 12th')
  0.00%  |     10  |  (' Asian-Pac-Islander', ' 1st-4th')
 17.86%  |     28  |  (' Asian-Pac-Islander', ' 5th-6th')
  0.00%  |     14  |  (' Asian-Pac-Islander', ' 7th-8th')
 10.00%  |     10  |  (' Asian-Pac-Islander', ' 9th')
 26.53%  |     49  |  (' Asian-Pac-Islander', ' Assoc-acdm')
 26.42%  |     53  |  (' Asian-Pac-Islander', ' Assoc-voc')
 34.56%  |    408  |  (' Asian-Pac-Islander', ' Bachelors')
 67.39%  |     46  |  (' Asian-Pac-Islander', ' Doctorate')
 14.58%  |    336  |  (' Asian-Pac-Islander', ' HS-grad')
 46.43%  |    140  |  (' Asian-Pac-Islander', ' Masters')
  0.00%  |      7  |  (' Asian-Pac-Islander', ' Preschool')
 62.07%  |     58  |  (' Asian-Pac-Islander', ' Prof-school')
 16.56%  |    302  |  (' Asian-Pac-Islander', ' Some-college')
  3.30%  |    182  |  (' Black', ' 10th')
  3.57%  |    252  |  (' Black', ' 11th')
  7.62%  |    105  |  (' Black', ' 12th')
  4.17%  |     24  |  (' Black', ' 1st-4th')
  0.00%  |     41  |  (' Black', ' 5th-6th')
  3.33%  |     90  |  (' Black', ' 7th-8th')
  3.60%  |    111  |  (' Black', ' 9th')
 13.66%  |    161  |  (' Black', ' Assoc-acdm')
 12.73%  |    165  |  (' Black', ' Assoc-voc')
 28.57%  |    504  |  (' Black', ' Bachelors')
 62.50%  |     16  |  (' Black', ' Doctorate')
  7.64%  |   1780  |  (' Black', ' HS-grad')
 45.45%  |    143  |  (' Black', ' Masters')
  8.33%  |     12  |  (' Black', ' Preschool')
 47.62%  |     21  |  (' Black', ' Prof-school')
 11.69%  |   1078  |  (' Black', ' Some-college')
  9.09%  |     11  |  (' Other', ' 10th')
  0.00%  |     22  |  (' Other', ' 11th')
  0.00%  |     17  |  (' Other', ' 12th')
  0.00%  |     13  |  (' Other', ' 1st-4th')
 13.04%  |     23  |  (' Other', ' 5th-6th')
  0.00%  |     23  |  (' Other', ' 7th-8th')
  0.00%  |     15  |  (' Other', ' 9th')
 40.00%  |     10  |  (' Other', ' Assoc-acdm')
  0.00%  |      9  |  (' Other', ' Assoc-voc')
 26.00%  |     50  |  (' Other', ' Bachelors')
 66.67%  |      3  |  (' Other', ' Doctorate')
  3.81%  |    105  |  (' Other', ' HS-grad')
 38.46%  |     13  |  (' Other', ' Masters')
  0.00%  |      2  |  (' Other', ' Preschool')
100.00%  |      5  |  (' Other', ' Prof-school')
 15.29%  |     85  |  (' Other', ' Some-college')
  6.82%  |   1158  |  (' White', ' 10th')
  5.32%  |   1485  |  (' White', ' 11th')
  7.57%  |    515  |  (' White', ' 12th')
  3.57%  |    196  |  (' White', ' 1st-4th')
  4.58%  |    415  |  (' White', ' 5th-6th')
  7.21%  |    818  |  (' White', ' 7th-8th')
  5.89%  |    611  |  (' White', ' 9th')
 27.27%  |   1368  |  (' White', ' Assoc-acdm')
 26.84%  |   1803  |  (' White', ' Assoc-voc')
 42.71%  |   7033  |  (' White', ' Bachelors')
 73.38%  |    526  |  (' White', ' Doctorate')
 17.19%  |  13387  |  (' White', ' HS-grad')
 56.22%  |   2348  |  (' White', ' Masters')
  0.00%  |     61  |  (' White', ' Preschool')
 75.40%  |    748  |  (' White', ' Prof-school')
 19.98%  |   9289  |  (' White', ' Some-college')

In [49]:
# Calcular a proporção entre pessoas com salários >50k em relação ao total com pessoas que difiram em sexo, raça e nível educacional
grouped_data = merged_data.groupby('Sex')
print('-'*50)
print(f'{"Sex":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")
        
grouped_data = merged_data.groupby('Education')
print('-'*50)
print(f'{"Education":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")
        
grouped_data = merged_data.groupby('Race')
print('-'*50)
print(f'{"Race":^50s}')
print("   Pct   |  Total  |  Grupo")
for name, group in grouped_data:
    total_count = len(group)
    high_income_count = len(group[group['Target'] == '>50k'])
    if total_count > 0:
        proportion = high_income_count / total_count
        print(f"{proportion:7.2%}  |  {total_count:5d}  |  {name}")

--------------------------------------------------
                       Sex
   Pct   |  Total  |  Grupo
 10.93%  |  16192  |   Female
 30.37%  |  32649  |   Male
--------------------------------------------------
                    Education
   Pct   |  Total  |  Grupo
  6.26%  |   1389  |   10th
  5.08%  |   1812  |   11th
  7.31%  |    657  |   12th
  3.24%  |    247  |   1st-4th
  5.30%  |    509  |   5th-6th
  6.49%  |    955  |   7th-8th
  5.42%  |    756  |   9th
 25.80%  |   1601  |   Assoc-acdm
 25.33%  |   2061  |   Assoc-voc
 41.28%  |   8024  |   Bachelors
 72.56%  |    594  |   Doctorate
 15.86%  |  15784  |   HS-grad
 54.91%  |   2657  |   Masters
  1.20%  |     83  |   Preschool
 73.98%  |    834  |   Prof-school
 18.96%  |  10878  |   Some-college
--------------------------------------------------
                       Race
   Pct   |  Total  |  Grupo
 11.70%  |    470  |   Amer-Indian-Eskimo
 26.93%  |   1519  |   Asian-Pac-Islander
 12.08%  |   4685  |   Black
 12.32%  |    406  |   Other
 25.40%  |  41761  |   White